@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles untuk print */
@media print {
  body * {
    visibility: hidden;
  }
  #receipt-print, #receipt-print * {
    visibility: visible;
  }
  #receipt-print {
    position: absolute;
    left: 0;
    top: 0;
    width: 80mm;
  }
}
